#root {
    height: 100vh;
}
body {
    overscroll-behavior: none;
}
.main-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(350deg, #67c57e 0%, #e1e8ca 100%);

}

.new-button {
    height: 100%;
    width: 30%;
    margin-right: 10px;
    border-radius: 2rem;
    font-size: 250%;
}


/*--------Header----------*/

.header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
}

.header-link {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 50%;
    border: 1px solid green;
    border-radius: 1rem;
    margin: 5% 5% 0 0;
}

h3 {
    color: #656262;
}

/*--------LISTS---------*/

.lists-header {
    height: 8vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5% 0 5%;
    border-radius: 0 0 1rem 1rem;
    background: linear-gradient(350deg, #92c28c 0%, #d2e8c6 100%);
    box-shadow: 1px 1px 3px 0 #000;
}



.dell-all {
    border-radius: 1rem 0.5rem 1rem 0.5rem;
    height: 3em;
    background: linear-gradient(350deg, #a60606 0%, #e7b9b9 100%);
    color: whitesmoke;
}

.lists {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    justify-content: space-between;
}

.new-item-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: none;
    position: sticky;
    background: linear-gradient(350deg, #4bbb40 0%, #d2e8c6 100%);
    box-shadow: 1px 1px 3px 0 #000;
}

.new-item-button > svg {
    width: 2.5em;
    height: 2.5em;
    color: #0a4902;
}

.list-buttons {
    display: flex;
    justify-content: center;
    height: 25%;
    border-radius: 2rem 2rem 0 0;
    background: #92c088;
    box-shadow: 0 10px 20px 5px #294f29;
}

.plIcon {

}

.list-plus-icon {
    width: 100%;
    height: 100%;
    color: green;
}

.mic-button {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: transparent;
}

/*----------List-------------*/

.product {
    z-index: 0;
}
#products {
    width: 65%;
    padding-left: 5px;
    color: #656262;
}

.list-items {
    width: 100%;
    height: 65vh;
    overflow-y: scroll;
    background: linear-gradient(350deg, #90c581 0%, #d2e8c6 100%);
    border-radius: 1rem 0 1rem 0;
}

.save-button {
    margin-bottom: 5%;
    min-height: 10vh;
    border-radius: 1.3rem;
}
.save-button-none {
    display: none;
}

.hide-button {
    width: 60%;
    align-self: center;
    min-height: 10vh;
    border-radius: 1.5rem;
}

.delete-button {
    background: transparent;
    border: none;
    color: red;
    scale: 1.5;
}

.edit-button {
    color: #624796;
    border: none;
    background: transparent;
    scale: 1.5;
}

.done-button {
    border: none;
    background: transparent;
}
.done-button > svg {
    scale: 1.5;
    color: green;
}

.product-text {
    max-width: 50%;
}
.one-item > div:nth-child(1) {
    text-transform: capitalize;
}

.product-text-custom {
    text-decoration: line-through;
}

.one-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 10%;
    margin: 5px 0 15px 10px;
    font-size: 20px;
    font-style: italic;
    box-shadow: 1px 1px 3px 0 #000;
    border-left: none;
    border-radius: 1.5rem 0.2rem 1.5rem 0.2rem;

}

.one-item-buttons {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

/*---form----------------------------------*/
.input-field {
    margin: 0 auto;
    display: none;
    flex-direction: column;
    width: 80%;

}

.show-form {
    display: flex;
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 2;
}

.item-form {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}

.item-form > input {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 98%;
    height: 160%;
    min-height: 80px;
    font-size: 14px;
    margin-bottom: 10%;
    border-radius: 2rem 0.5rem 2rem 0.5rem;
    border: none;
    box-shadow: 1px 1px 3px 0 #000;
}

.item-form > button {
    font-size: 1.5em;
    border: none;
    box-shadow: 1px 1px 3px 0 #000;
    background: linear-gradient(350deg, #72b672 0%, #c4efb4 100%);
}

/*--------AddNewPage-------*/

.add-new-page, .link-plus {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.plus-icon {
    align-self: center;
    width: 90%;
    height: 90%;
    color: green;
}