

.main-layout {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
    background-color: lightgray;
    position: absolute;
}

.new-button {
    height: 100%;
    width: 30%;
    margin-right: 10px;
    border-radius: 2rem;
    font-size: 250%;
}


/*--------Header----------*/

.header {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: flex-end;
}

.header-link {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 30%;
    height: 50%;
    border: 1px solid green;
    border-radius: 1rem;
    margin: 5% 5% 0 0;
}

.header-link > h3 {
    margin: 0 auto;
    color: green;
}


/*--------LISTS---------*/

.lists {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.new-item-button {
    align-self: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.list-buttons {
    display: flex;
    height: 10vh;
    position: relative;
    left: 40%;
}
.plIcon {

}

.list-plus-icon {
    width: 100%;
    height: 100%;
    color: green;
}

.mic-button {
    margin-right: 10%;
}
/*---form----------------------------------*/
.input-field {
    margin: 0 auto;
    opacity: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    width: 80%;
    /*align-items: center;*/
    /*background-color: silver;*/
}

.item-form {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 100%;
}
.item-form > input {
    display: flex;
    width: 98%;
    height: 40%;
    font-size: 14px;
    margin-bottom: 10%;
    border-radius: 0.4rem;
}
.item-form > button {
    height: 20%;
    border-radius: 1rem;
    font-size: 1.5em;
}

/*--------AddNewPage-------*/

.add-new-page, .link-plus {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.plus-icon {
    align-self: center;
    width: 90%;
    height: 90%;
    color: green;
}